/* body{
    margin: auto;
} */

.update{
    padding-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#tombol{
    margin-top: 20px;
    margin-left: 790px;
}
